In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('ventas_31_dias.csv')

In [44]:
condition_local = df['Sucursal'] == 'Del Aire7 LV MS'
df_del_aire = df[condition_local].reset_index()

In [45]:
df_del_aire.drop('index', axis=1, inplace=True)

In [46]:
df_del_aire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sucursal  30 non-null     object
 1   Vta Nta   30 non-null     object
 2   Meta      30 non-null     object
 3   Cump%     30 non-null     float64
 4   Trxs      30 non-null     int64
 5   Vta LY    30 non-null     int64
 6   LY%       30 non-null     float64
 7   Day       30 non-null     object
dtypes: float64(2), int64(2), object(4)
memory usage: 2.0+ KB

In [47]:
df_del_aire['Vta Nta'] = df_del_aire['Vta Nta'].str.replace(',','')
df_del_aire['Vta Nta'] = df_del_aire['Vta Nta'].astype('int')

In [50]:
df_del_aire['Meta'] = df_del_aire['Meta'].str.replace(',','')
df_del_aire['Meta'] = df_del_aire['Meta'].astype('int')

In [51]:
print(df_del_aire['Vta Nta'].sum(), "|", df_del_aire['Meta'].sum())

154744 | 135242

In [52]:
df_del_aire['Vta Nta'].sum() / df_del_aire['Meta'].sum()

1.1442007660342202

In [53]:
df_del_aire['Vta Nta'].sum() - df_del_aire['Meta'].sum()

19502